* {
  margin: 0;
}
h1 {
  margin-bottom: 2rem;
}
#container {
  text-align: center;
  margin-top: 5rem;
}
#cells {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid, black;
  text-align: center;
}
.cell {
  width: 10%;
  height: 50px;
  border: 1px solid, black;
}
.selected {
  background-color: blueviolet;
}
#btn {
  line-height: 1.65;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
  font-weight: 700;
  border-radius: 15px;
  box-shadow: 0 0 10px;
  background-color: aquamarine;
  cursor: pointer;
  margin-top: 2rem;
}
